<template name="travelForm">
	<div class="row">
		<div class="form-group col-sm-6">
			{{afFieldLabel "first_name"}}
			{{afFieldInput "first_name" placeholder="First Name"}}
			{{#if afFieldIsInvalid "first_name"}}
				<span class="help-block">{{afFieldMessage "first_name"}}</span>
			{{/if}}
		</div>
		<div class="form-group col-sm-6">
			{{afFieldLabel "last_name"}}
			{{afFieldInput "last_name" placeholder="Last Name"}}
			{{#if afFieldIsInvalid "last_name"}}
				<span class="help-block">{{afFieldMessage "last_name"}}</span>
			{{/if}}
		</div>
	
		<div class="form-group col-sm-6">
			{{afFieldLabel "email"}}
			{{afFieldInput "email" placeholder="email"}}
			{{#if afFieldIsInvalid "email"}}
				<span class="help-block">{{afFieldMessage "email"}}</span>
			{{/if}}
		</div>
		<div class="form-group col-sm-6">
			{{afFieldLabel "requestor_email"}}
			{{afFieldInput "requestor_email" placeholder="Requestor E-mail"}}
			{{#if afFieldIsInvalid "requestor_email"}}
				<span class="help-block">{{afFieldMessage "requestor_email"}}</span>
			{{/if}}
		</div>
	
		<div class="form-group col-sm-6">
			{{afFieldLabel "pid"}}
			{{afFieldInput "pid" placeholder="Project ID"}}
			{{#if afFieldIsInvalid "pid"}}
				<span class="help-block">{{afFieldMessage "pid"}}</span>
			{{/if}}
		</div>
		<div class="form-group col-sm-6">
			{{afFieldLabel "phone"}}
			{{afFieldInput "phone" placeholder="phone #"}}
			{{#if afFieldIsInvalid "phone"}}
				<span class="help-block">{{afFieldMessage "phone"}}</span>
			{{/if}}
		</div>
		<div class="form-group col-sm-4">
			{{afFieldLabel "estimated_airfare"}}
			{{afFieldInput "estimated_airfare"}}
			{{#if afFieldIsInvalid "estimated_airfare"}}
				<span class="help-block">{{afFieldMessage "estimated_airfare"}}</span>
			{{/if}}
		</div>
		<div class="form-group col-sm-5">
			{{afFieldLabel "estimated_cost"}}
			{{afFieldInput "estimated_cost"}}
			{{#if afFieldIsInvalid "estimated_cost"}}
				<span class="help-block">{{afFieldMessage "estimated_cost"}}</span>
			{{/if}}
		</div>
		<div class="form-group col-sm-3">
			{{afFieldLabel "personal_days"}}
			{{afFieldInput "personal_days"}}
			{{#if afFieldIsInvalid "personal_days"}}
				<span class="help-block">{{afFieldMessage "personal_days"}}</span>
			{{/if}}
		</div>
		<div class="form-group col-sm-11">
			{{afFieldLabel "justification"}}
			{{afFieldInput "justification" rows=5}}
			{{#if afFieldIsInvalid "justification"}}
				<span class="help-block">{{afFieldMessage "justification"}}</span>
			{{/if}}
		</div>
		<div class="form-group col-sm-11" id="travelTypes">
			<h3>Is this a Domestic or Foreign Trip? </h3>
			<hr>
			<label>
				<input type="radio" data-schema-key="travel_type" class="js-travelType" name="travel_type" value="Domestic"> Domestic Travel
			</label>
			<label>
				<input type="radio" data-schema-key="travel_type" class="js-travelType" name="travel_type" value="Foreign"> Foreign Travel
			</label>
		</div>
		<div class="form-group col-sm-4">
			{{afFieldLabel "country"}}
			{{afFieldInput "country" placeholder="United States"}}
			{{#if afFieldIsInvalid "country"}}
				<span class="help-block">{{afFieldMessage "country"}}</span>
			{{/if}}
		</div>
		<div class="form-group col-sm-4">
			{{afFieldLabel "city"}}
			{{afFieldInput "city" placeholder="City"}}
			{{#if afFieldIsInvalid "city"}}
				<span class="help-block">{{afFieldMessage "city"}}</span>
			{{/if}}
		</div>
		<div class="form-group col-sm-4">
			{{afFieldLabel "state"}}
			{{afFieldInput "state" placeholder="State"}}
			{{#if afFieldIsInvalid "state"}}
				<span class="help-block">{{afFieldMessage "state"}}</span>
			{{/if}}
		</div>
		<div class="form-group col-sm-6">
			{{afFieldLabel "depart_on"}}
			{{afFieldInput "depart_on"}}
			{{#if afFieldIsInvalid "depart_on"}}
				<span class="help-block">{{afFieldMessage "depart_on"}}</span>
			{{/if}}
		</div>
		<div class="form-group col-sm-6">
			{{afFieldLabel "return_on"}}
			{{afFieldInput "return_on"}}
			{{#if afFieldIsInvalid "return_on"}}
				<span class="help-block">{{afFieldMessage "return_on"}}</span>
			{{/if}}
		</div>
	</div>
	<div class="row" id="foreign_fields">	
		<div class="form-group col-sm-4">
			{{afFieldLabel "host_name"}}
			{{afFieldInput "host_name" placeholder="Host Name"}}
			{{#if afFieldIsInvalid "host_name"}}
				<span class="help-block">{{afFieldMessage "host_name"}}</span>
			{{/if}}
		</div>
		<div class="form-group col-sm-4">
			{{afFieldLabel "host_contact"}}
			{{afFieldInput "host_contact" placeholder="Host Contact"}}
			{{#if afFieldIsInvalid "host_contact"}}
				<span class="help-block">{{afFieldMessage "host_contact"}}</span>
			{{/if}}
		</div>
		<div class="form-group col-sm-4">
			{{afFieldLabel "host_affiliation"}}
			{{afFieldInput "host_affiliation" placeholder="Host Affiliation"}}
			{{#if afFieldIsInvalid "host_affiliation"}}
				<span class="help-block">{{afFieldMessage "host_affiliation"}}</span>
			{{/if}}
		</div>
		<div class="form-group col-sm-6">
			{{afFieldLabel "lodging_name"}}
			{{afFieldInput "lodging_name" placeholder="Lodging Name"}}
			{{#if afFieldIsInvalid "lodging_name"}}
				<span class="help-block">{{afFieldMessage "lodging_name"}}</span>
			{{/if}}
		</div>
		<div class="form-group col-sm-6">
			{{afFieldLabel "lodging_phone"}}
			{{afFieldInput "lodging_phone" placeholder="Lodging Phone"}}
			{{#if afFieldIsInvalid "lodging_phone"}}
				<span class="help-block">{{afFieldMessage "lodging_phone"}}</span>
			{{/if}}
		</div>
		<div class="form-group col-sm-6">
			{{afFieldLabel "lodging_address"}}
			{{afFieldInput "lodging_address" placeholder="Lodging Address"}}
			{{#if afFieldIsInvalid "lodging_address"}}
				<span class="help-block">{{afFieldMessage "lodging_address"}}</span>
			{{/if}}
		</div>
		<div class="form-group col-sm-6">
			{{afFieldLabel "lodging_website"}}
			{{afFieldInput "lodging_website" placeholder="Lodging Website"}}
			{{#if afFieldIsInvalid "lodging_website"}}
				<span class="help-block">{{afFieldMessage "lodging_website"}}</span>
			{{/if}}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-11">
			<h3>Is this a Conference?</h3>
			<hr>
			<label>Yes <input type="radio" name="travel[conf]" class="travel_conf" value="yes"></label>
			<label>No <input type="radio" name="travel[conf]" class="travel_conf" value="no"></label>
		</div>
	</div>
	<div class="row" id="conference_fields">
		<div class="form-group col-sm-4">
			{{afFieldLabel "conf_name"}}
			{{afFieldInput "conf_name"}}
			{{#if afFieldIsInvalid "conf_name"}}
				<span class="help-block">{{afFieldMessage "conf_name"}}</span>
			{{/if}}
		</div>
		<div class="form-group col-sm-4">
			{{afFieldLabel "conf_website"}}
			{{afFieldInput "conf_website"}}
			{{#if afFieldIsInvalid "conf_website"}}
				<span class="help-block">{{afFieldMessage "conf_website"}}</span>
			{{/if}}
		</div>
	</div>
	<div class="row">
		<div class="form-group form-submit col-xs-11">
			<button type="submit" class="btn btn-primary insert">Submit Request</button>
		</div>
	</div>
</template>