/* CSS declarations go here */
/* breakpoint at 600px */
html, body, .siteWrapper {
	height: 100%;
}

body {
	background-color: #333333;
}

html, body, .siteWrapper, .mainContent, .mainNav {
	min-height: 100%;
}
.l-inline-block {
	display: inline-block;
}

.siteWrapper {
	margin-left: -15px;
}
.pageTitle {
	margin-top: 0;
}
.mainNav {
	min-width: 150px;
	max-width: 225px;
	color: #FAFAFA;
	height: 100%;
	width: 25%;
	position: sticky;
	padding-right: 15px;
	padding-left: 15px;
	float: left;
	height: 100%;
}

.mainNav__title {
	padding:10px 15px; 
}

.mainContent {
	background-color: #FAFAFA;
	position: relative;
	padding-right: 15px;
	padding-left: 15px;
	float: left;
	width:75%;
}
.action--travel {
	margin-bottom: 8px;
}
.login--persona {
	padding: 15px;
}

.logout {
	padding: 15px;
}

@media screen and (max-width: 585px) {
	.mainNav {
		width: 100%;
		position: fixed;
		bottom: -94%;
		float: none;
		max-width: none;
		z-index: 20;
		background-color: #333333;
		margin-left: 15px;
	}
	.mainNav__title {
		display: none;
	}
	.nav-stacked {
		display: inline-block;
	}
	.nav-stacked > li {
		display: inline-block;
	}
	.mainContent {
		width: 100%;
		padding-bottom: 32px;
	}
}
