<template name="travel">
	<div class="row">
		<h1 class="pageTitle">PBD Travel Requests</h1>
	</div>
	<div class="row">
		<table class="table table-striped table-hover col-xs-12">
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Depart Date</th>
					<th>Return Date</th>
					<th>Status</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{{#each travel_requests}}
					<tr>
						<td>{{last_name}}, {{first_name}}</td>
						<td>{{email}}</td>
						<td>{{depart_date}}</td>
						<td>{{return_date}}</td>
						<td>
							<a href="{{urlFor 'show_travel'}}" class="btn btn-primary">
								<i class="glyphicon glyphicon-eye-open"></i> View
							</a>
							{{#autoForm schema=TravelRequestsCollection doc=this}}
								<button type="submit" class="btn btn-danger remove">
									<i class="glyphicon glyphicon-remove-circle"></i> Delete
								</button>
							{{/autoForm}}
						</td>
					</tr>
				{{else}}
					<tr>
						<td colspan="5">No Pending Travel Requests</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</template>